* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --block-1: #2b5eea;
  --block-2: #74d8f6;
}

/* HEADER  */
#app-header {
  width: 100%;
  padding: 1rem;
  background-color: white;
}

.d-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.call-to-action {
  background-color: var(--block-1);
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-style: none;
}

.call-to-action:hover {
  background-color: #4a7bff;
}

.left-menu {
  margin-right: 300px;

  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 15px;
    font-size: 14px;
  }
}

.right-menu {
  margin-left: 300px;
  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 15px;
    font-size: 14px;
  }
}
/* END HEADER  */

/* MAIN  */
.container {
  width: 75%;
  margin: auto;
}

/* FIRST SECTION  */
#first-section {
  height: 600px;
  background-color: var(--block-2);
}

.d-flex-first-section {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  padding-top: 70px;
}

.img-fs {
  width: 70%;
  margin-top: 30px;
}

.text-fs {
  width: 30%;
  font-size: 15px;
  margin-top: 30px;
}

.call-to-action1 {
  background-color: var(--block-1);
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 15px;
  border-style: none;
}

.call-to-action1:hover {
  background-color: #4a7bff;
}

.null {
  margin-bottom: 50px;
}

.down-arrow {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 40px;
}
/* END FIRST SECTION  */

/* UTILITIES  */
.container-small {
  width: 65%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 -30px;
  margin-top: 60px;
}

.row2 {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 -30px;
}

.row-3 {
  display: flex;
  justify-content: space-between;
  margin: 0 -30px;
}

.row-4 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0px;
  margin-top: 60px;
}

.col-4 {
  width: calc((100% / 12) * 4);
  padding: 1rem;
  border: 1px solid rgb(170, 170, 170);
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

.col-4-operations {
  width: calc((100% / 12) * 4);
  padding: 1rem;
  margin-left: 0px;
  margin-right: 0px;
  text-align: left;
}

.col-4-sixth-section {
  width: calc((100% / 12) * 4);
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  vertical-align: middle;
}

.col-6 {
  width: calc((100% / 12) * 6);
  margin-left: 30px;
  margin-right: 30px;
}

.col-12 {
  width: calc((100% / 12) * 12);
  border: 1px solid rgb(170, 170, 170);
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-12-enterprise {
  width: calc((100% / 12) * 12);
  padding: 1rem;
  border: 1px solid rgb(170, 170, 170);
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.d-flex-second-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
/* END UTILITIES  */

/* SECOND SECTION  */
#second-section {
  margin-bottom: 60px;
  div,
  p {
    text-align: left;
    .col-4 {
      text-align: center;
    }
    .row2 {
      height: 950px;
    }
  }
}

#radiob {
  margin-top: 40px;
  margin-bottom: 40px;

  .radio-b-2 {
    margin-left: 15px;
  }
}

h4 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  padding-top: 70px;
  margin-top: 80px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

strong {
  display: inline-block;
  margin-bottom: 20px;
}

.col-second-s {
  color: rgb(171, 171, 171);
}

.user {
  margin-top: 40px;
  margin-bottom: 30px;
}

.folder {
  margin-bottom: 30px;
}

.call-to-action2 {
  background-color: var(--block-1);
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 100;
  font-size: 15px;
  border-style: none;
  text-align: center;
}

.call-to-action2:hover {
  background-color: #4a7bff;
}

hr {
  max-width: 50px;
  margin-top: 50px;
  margin-bottom: 30px;
  border: 0.5;
  border-color: rgb(238, 238, 238);
}

.fa-folder,
.fa-share-nodes,
.fa-check {
  margin-right: 5px;
}

.nolimits {
  margin-right: 10px;
}

.contact {
  padding-right: 70px;
  padding-left: 70px;
}

.service {
  margin-right: 70px;
}

.price {
  font-weight: 550;
  font-size: 14px;
}

.solutions {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 14px;
}
/* END SECOND SECTION  */

/* THIRD SECTION  */
#third-section {
  margin-top: 150px;
  margin-bottom: 80px;
}

h2 {
  margin-left: 80px;
  margin-right: 30px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.partner {
  margin-left: 80px;
  margin-right: 30px;
}

.partner-bt {
  margin-left: 80px;
  margin-right: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
  background-color: transparent;
}

.partner-bt:hover {
  background-color: var(--block-1);
  border: none;
  color: white;
}
/* END THIRD SECTION  */

/* FOURTH SECTION  */
#fourth-section {
  margin-top: 50px;
  margin-bottom: 50px;
}
/* END FOURTH SECTION  */

/* FIFTH SECTION  */
#fifth-section {
  margin-bottom: 90px;
}

.team {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 40px;
}
/* END FIFTH SECTION  */

/* SIX SECTION  */
.logo-1,
.logo-2,
.logo-3,
.logo-4,
.logo-5,
.logo-6,
.logo-7,
.logo-8 {
  width: 50%;
  aspect-ratio: 1;
}

.logo-1 {
  background-color: rgb(151, 248, 107);
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.logo-2 {
  background-color: rgb(85, 0, 0);
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-3 {
  background-color: rgb(57, 165, 233);
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-4 {
  background-color: rgb(255, 0, 0);
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-5 {
  background-color: rgb(255, 69, 31);
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.logo-6 {
  background-color: rgb(62, 214, 209);
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.logo-7 {
  background-color: rgb(7, 0, 211);
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.logo-8 {
  background-color: rgb(193, 231, 40);
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.logo-c-w {
  filter: invert(100%) sepia(0%) saturate(7474%) hue-rotate(100deg)
    brightness(98%) contrast(107%);
}

.col-4-sixth-section,
.bg-grey {
  background-color: #dbdad9;
}

.second-row {
  padding-left: 50px;
  padding-top: 70px;
  text-align: left;
  padding-right: 50px;
}

.global {
  margin-top: 40px;
}
/* END SIXTH SECTION  */

/* SEVENTH SECTION  */
#seventh-section {
  background-color: rgb(130, 189, 226);
  margin-bottom: 100px;
}

.d-flex-dr-bs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
}

.drop-bs {
  margin: 0;
  padding: 0;
  font-size: 40px;
  color: #8e1e1e;
}

.free-trial {
  border: none;
  padding: 10px 30px;
  margin-bottom: 40px;
}

.free-trial:hover {
  background-color: rgb(66, 66, 66);
  color: white;
}
/* END SEVENTH SECTION  */

/* EIGHTH SECTION  */
#eighth-section {
  margin-bottom: 150px;
}

.faq {
  margin-left: 80px;
  font-size: 40px;
}

.faq-line {
  margin-left: 80px;
  max-width: 800px;
}

.faq-1 {
  margin-left: 80px;
  display: inline-block;
}
.answer {
  margin-left: 80px;
  margin-top: 40px;
}

.faq-hover .answer {
  display: none;
}

.faq-hover:hover .answer {
  display: block;
}
/* END EIGHTH SECTION  */

/* FOOTER  */
#app-footer {
  background-color: #000000;
  padding-bottom: 150px;

  h4 {
    text-align: left;
    color: white;
    margin-top: 20px;
    font-size: 17px;
  }

  a {
    text-decoration: none;
    color: white;
    display: flex;
    padding-top: 10px;
    font-size: 13px;
  }

  span {
    color: white;
    font-size: 11px;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
  }
}

.d-flex-footer {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

/* END FOOTER  */

@media screen and (max-width: 780px) {
body {
  background-color: #8e1e1e;
}

h1{
  font-size: 15px;
}
}